*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;

}

section {
    display: flex;
    gap: 20px;
}

section .hal1{
    flex: 1;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: center;
}

